<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <a href="@Url.Action("Index", "Home")" class="hero-logo" data-aos="zoom-in"><img src="~/Content/assets/img/logo.png" alt="Logo"></a>
        <h1 data-aos="zoom-in">Edward Barrier III</h1>
        <h2 data-aos="fade-up">Full-Stack Developer | Tech Enthusiast</h2>
        <a data-aos="fade-up" href="#about" class="btn-get-started scrollto headLink">Get Started</a>
        <div class="social-links">
            <a href="https://twitter.com/codewithed" class="twitter" target="_blank"><i class="icofont-twitter"></i></a>
            <a href="https://linkedin.com/in/EdwardBarrierIII" class="linkedin" target="_blank"><i class="icofont-linkedin"></i></a>
            <a href="https://github.com/Ebarrieriii" target="_blank"><i class="fab fa-github"></i></a>
        </div>

    </div>
</section><!-- End Hero -->
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container">

        <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
        <div class="logo d-block d-lg-none">
            <a href="@Url.Action("Index", "Home")"><img src="~/Content/assets/img/logo.png" alt="Mobile image" class="logo-nav"></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul class="nav-inner">
                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Top Skills</a></li>

                <li class="mobile-image"><a href="@Url.Action("Index", "Home")"><img src="~/Content/assets/img/logo.png" alt="logo" class="logo-nav"></a></li>

                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#resume">Resumé</a></li>
                <li><a href="#contact">Contact</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>About Me</h2>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="image">
                        <img src="~/Content/assets/img/small-pic (1).jpg" class="img-fluid" alt="picture of laptop" loading="lazy">
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-left">
                    <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                        <p>
                            I'm a full-stack web developer in the .NET framework with a background in customer service. I have worked several customer service jobs, now transitioning into a career field that I love.
                        </p>
                        <p>
                            Technical Skills:
                            HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, Visual Studio, C#.NET, ASP.NET, LINQ, MVC, Entity Framwork, ADO.NET, SQL, SQL Server, SSMSE.
                        </p>
                        <p>
                            Professional Skills:
                            TroubleShooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork.
                        </p>
                        <p>
                            I recently graduated from Centriq Training in Kansas City, Missouri. I am self-motivated and enjoy solving complex problems. Growing up I've always been a curious person, starting with building RC cars when I was young, then moving on to building computers in my teenage years, and now I'm building a 2003 Mustang GT while following my passion in software development.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Top Skills</h2>
                <p>All of these skills I have used a numerous amount of times in my projects.</p>
            </div>

            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                        <i class="fab fa-html5"></i>
                        <h4>HTML & CSS</h4>
                        <p>I've used HTML and CSS in every project that I've built excluding my C# Dungeon Application.</p>
                        <br />
                    </div>
                    <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
                        <i class="fab fa-bootstrap"></i>
                        <h4>Bootstrap</h4>
                        <p>I've used Bootstrap for my portfolio, and my MVC applications.</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                        <i class="fab fa-js-square"></i>
                        <h4>JavaScript/jQuery</h4>
                        <p>I've used JavaScript in every project I've built excluding my C# dungeon application</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                        <i class="fas fa-cubes"></i>
                        <h4>C#</h4>
                        <p>I've used C# in all of my MVC applications as well as my dungeon application.</p>
                    </div>
                </div>
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                        <i class="fas fa-database"></i>
                        <h4>T-SQL</h4>
                        <p>I've worked with querying small databases and I've constructed databases for all of the MVC data-driven applications I've built including Fate Clothing, TechX Scheduling Administration Tool, and KC Digital.</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
                        <i class="fas fa-link"></i>
                        <h4>LINQ</h4>
                        <p>I've used LINQ in my Fate Clothing application to filter categories as well as on my KC Digital project to filter user profiles.</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                        <i class="fas fa-network-wired"></i>
                        <h4>MVC</h4>
                        <p>I've built 4 projects using MVC which are my portfolio site, Fate Clothing, TechX Scheduling Administration Tool, and KC Digital.</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                        <i class="fas fa-user-friends"></i>
                        <h4>Entity Framework</h4>
                        <p>I've used Entity Framework on projects that I wanted to add identity functionality. Which includes Fate Clothing, TechX Scheduling Administration Tool, and KC Digital.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p>My development projects.</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">Front-End</li>
                        <li data-filter=".filter-card">Back-End</li>
                        <li data-filter=".filter-web">Full-Stack</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">



                @* Modern Missouri *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/fed1.jpg" class="img-fluid" alt="FED1 project">
                        <div class="portfolio-info">
                            <h4>Modern Missouri</h4>
                            <p>A website built using a project brief, HTML, CSS, and JavaScript.</p>
                            <div class="portfolio-links">
                                <a href="https://github.com/Ebarrieriii/FED1StudioProject" target="_blank" title="View Code"><i class="bx bx-plus"></i></a>
                                <a href="http://fed1.edwardbarrier.com/" target="_blank" title="Go to site"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* Storefront Application *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/fate2.jpg" class="img-fluid" alt="Fate Clothing Launch Page">
                        <div class="portfolio-info">
                            <h4>Fate Clothing</h4>
                            <p>A data-driven e-commerce site using MVC, HTML, CSS, JavaScript, Bootstrap, C#, LINQ, Entity Framework, and SQL.</p>
                            <div class="portfolio-links">
                                <a href="https://github.com/Ebarrieriii/StoreFrontLab" target="_blank" title="View Code"><i class="bx bx-plus"></i></a>
                                <a href="http://sf.edwardbarrier.com/" target="_blank" title="Go To Site"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of storefront *@

                @* SAT Administration Tool *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/sat.jpg" class="img-fluid" alt="sat screenshot">
                        <div class="portfolio-info">
                            <h4>TechX Schedule Administration Tool</h4>
                            <p>A data-driven schedule administration tool used by TechX, built using MVC, HTML, CSS, JavaScript, Bootstrap, C#, LINQ, Entity Framework, and SQL.</p>
                            <div class="portfolio-links">
                                <a href="https://github.com/Ebarrieriii/SAT" target="_blank" title="View Code"><i class="bx bx-plus"></i></a>
                                <a href="http://sat.edwardbarrier.com/" target="_blank" title="Go To Site"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of SAT Administration Tool *@

                @* Final Project *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/image (8).jpg" class="img-fluid" alt="final screenshot">
                        <div class="portfolio-info">
                            <h4>KC Digital</h4>
                            <p>
                                A reservation system for a computer repair shop, built using MVC, HTML, CSS, JavaScript, Bootstrap, C#, LINQ, Entity Framework, and SQL.
                            </p>
                            <div class="portfolio-links">
                                <a href="https://github.com/Ebarrieriii/FSWDFinalProject" target="_blank" title="View Code"><i class="bx bx-plus"></i></a>
                                <a href="http://fsdp.edwardbarrier.com/" target="_blank" title="Go To Site"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of Final Project *@

                @* Personal Site *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/portfolio2.jpg" class="img-fluid" alt="Portfolio Project">
                        <div class="portfolio-info">
                            <h4>Portfolio Site</h4>
                            <p>My portfolio website. Using HTML, CSS, JavaScript, and BootStrap</p>
                            <div class="portfolio-links">
                                <a href="https://github.com/Ebarrieriii/UpdatedPersonalSite" title="View Code" target="_blank"><i class="bx bx-plus"></i></a>
                                <a href="http://edwardbarrier.com/" target="_blank" title="Go to site"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of Personal Site *@

                @* Dungeon Application *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/Screenshot (4).png" class="img-fluid" alt="Picture of C# code">
                        <div class="portfolio-info">
                            <h4>Dungeon Application</h4>
                            <p>A simple game created with the fundamentals of C#</p>
                            <div class="portfolio-links">
                                <a href="https://github.com/Ebarrieriii/Dungeon" target="_blank" title="View Code"><i class="bx bx-plus"></i></a>
                                <a href="https://www.youtube.com/watch?v=OKB4jwLp6AU" target="_blank" title="See playthrough"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of Dungeon Application *@

                @* Old Personal Site *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/assets/img/port.jpg" class="img-fluid" alt=" Old Portfolio Project">
                        <div class="portfolio-info">
                            <h4>Old portfolio site</h4>
                            <p>This was my portfolio that I built while enrolled in Centriq</p>
                            <div class="portfolio-links">
                                <a href="https://github.com/Ebarrieriii/PersonalProjectMVC" title="View Code" target="_blank"><i class="bx bx-plus"></i></a>
                                <a href="http://port.edwardbarrier.com/" target="_blank" title="Go to site"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of Old Personal Site *@

                @* Add new project above *@


            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
            </div>
            <h1 class="resume-header align-center">Edward Barrier III</h1>
            <div class="col text-center">
                <a class="btn resumeBtn" href="~/Content/Technical Resume.pdf"><i class="fa fa-download"></i> Resumé</a>
            </div>
            <div>
                <p class="align-center spec"><a href="mailto: edbarrieriii@gmail.com">edwardbarrieriii@outlook.com</a> | <a href="http://edwardbarrier.com" target="_blank">EdwardBarrier.com </a> </p>
                <p class="align-center">LinkedIn: <a href="http://www.linkedin.com/in/EdwardBarrierIII" target="_blank">www.linkedin.com/in/EdwardBarrierIII</a></p>
            </div>
            <div>
                <h2 class="align-center">FULL STACK DEVELOPER</h2>
                <hr />
                <div class="resume-skills">
                    <ul class="left">
                        <li>.NET Framework</li>
                        <li>Full Stack Web Application Design</li>
                        <li>C# Fundamentals</li>
                        <li>Database Management</li>
                    </ul>
                    <ul class="right">
                        <li>Unit Testing</li>
                        <li>Software Development Lifecycle</li>
                        <li>Agile Scrum Methodology</li>
                        <li>Continued Growth in IT Knowledge</li>
                    </ul>
                </div>
                <hr />
                <div class="resume-tech">
                    <h3 class="align-center">Technical and Professional Skills</h3>
                    <br />
                    <p><strong class="yella">Front End: </strong> HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</p>
                    <p><strong class="yella">Middle Tier: </strong>Visual Studio, C#.NET, ASP.NET, LINQ, MVC, EF</p>
                    <p><strong class="yella">Back End: </strong>ADO.NET, SQL, SQL Server, SSMSE</p>
                    <p><strong class="yella">Professional Skills: </strong>TroubleShooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork</p>

                </div>
                <hr />
                <div class="resume-dev">
                    <h3 class="align-center">Independent Development Projects</h3>
                    <ul class="resume-ul">
                        <li><strong class="yella">Personal Site: </strong>Created an application to display information about myself, examples of my work, testimonials, contact information, and my current resum&eacute;. I have also included a section for my team members because they have played a huge part in my education. For this application, I used Bootstrap, HTML5, CSS3, and JavaScript/jQuery.</li>
                        <li><strong class="yella">Dungeon Application: </strong>Created a simple game using C#. Including character selection and weapon selection, the player walks through the dungeons and battles monsters until he/she dies. The application the displays the players score and the game ends.</li>
                        <li><strong class="yella">Front-End Development Project: </strong>Created an application that follows a start-up companies project brief. This application is constructed using HTML5, CSS3, and JavaScript/jQuery.</li>
                        <li><strong class="yella">Rust Random Task Generator: </strong>Created an application to give me random tasks on my favorite game. The main purpose for this application was to dive deeper into JavaScript/jQuery functionality. This application is constructed using HTML5, CSS3, and JavaScript/jQuery.</li>
                        <li><strong class="yella">StoreFront: </strong>Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</li>
                        <li><strong class="yella">S.A.T. Scheduling Administration Tool: </strong>Created a secure application for managing product data. Application is built to simulate an online class scheduling system. Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</li>
                        <li><strong class="yella">Final Project: </strong>Created a secure data-driven ASP.NET MVC application from design through deployment for managing the tracking and organization of hardware and software within a company. Administrators have the ability to manage the employee, department data, and all details relating to assigned hardware and software.</li>
                    </ul>
                </div>
                <hr />
                <div>
                    <h3 class="align-center">Technical Training</h3>
                    <div class="resume-training">
                        <p id="spec"><strong class="yella">Full-Stack Web Development Program</strong>, Centriq Training</p>
                        <p class="right">Graduated 06/2021</p>
                        <p>Kansas City, Missouri</p>
                    </div>
                    <div class="resume-skills">
                        <ul class="left">
                            <li>MVC Framework</li>
                            <li>Trouble Shooting & Debugging</li>
                            <li>Source Control</li>
                            <li>Agile/Scrum (Created Team Project)</li>
                        </ul>
                        <ul class="right">
                            <li>Website Deployment</li>
                            <li>Pair Programming</li>
                            <li>Code Review</li>
                        </ul>
                    </div>

                </div>
                <hr />
                <div>
                    <h3 class="align-center">Work Experience</h3>
                    <div class="resume-training">
                        <p id="spec"><strong class="yella">Package Handler</strong>, FedEx Ground</p>
                        <p class="right">12/2020-04/2021</p>
                        <p>Kansas City, Missouri</p>
                        <ul>
                            <li>Stored items in an orderly and accessible manner in three trucks at a time.</li>
                            <li>Developing constructive and cooperative working relationships with others, and maintaining them over time.</li>
                            <li>Managed and scanned 100% of the packages that I've dealth with, daily.</li>
                        </ul>
                        <br />
                        <p id="spec"><strong class="yella">Sales Advisor</strong>, Office Depot</p>
                        <p class="right">02/2019-12/2020</p>
                        <p>Independence, Missouri</p>
                        <ul>
                            <li>Recommend, select, and help locate or obtain merchandise based on customer needs and desires.</li>
                            <li>Designed flyers, posters, postcards, etc. for 20+ customers a week.</li>
                            <li>Knowledge of principles and methods for showing, promoting, and selling products or services. This includes marketing strategy and tactics, product demonstration, sales techniques, and sales control systems.</li>
                            <li>Giving full attention to what other people are saying, taking time to understand the points being made, asking questions as appropriate, and not interrupting at inappropriate times.</li>
                            <li>Developing constructive and cooperative working relationships with others, and maintaining them over time.</li>
                            <li>Took initiative to learn every position so I could flex where I was needed most. Salesmen for computers and printers, while being specialized in the print department. Lastly, running register when needed.</li>
                        </ul>
                        <br />
                        <p id="spec"><strong class="yella">Lube Technician</strong>, Adams Toyota</p>
                        <p class="right">09/2017-11/2018</p>
                        <p>Lee's Summit, Missouri</p>
                        <ul>
                            <li>Inspect vehicles for damage and record findings so that necessary repairs can be made.</li>
                            <li>Perform routine and scheduled maintenance services, such as oil changes, lubrications, and tune-ups.</li>
                            <li>Knowledge of machines and tools, including their designs, uses, repair, and maintenance.</li>
                            <li>Determining causes of operating errors and deciding what to do about it.</li>
                            <li>Analyzing information and evaluating results to choose the best solution and solve problems.</li>
                            <li>Took initiative to learn multiple positions to flex. Lube Technician most of the time, porting on a couple days when needed.</li>
                        </ul>
                        <br />
                        <p id="spec"><strong class="yella">Carpet Installer</strong>, Lowe's Home Improvement</p>
                        <p class="right">06/2017-08/2017</p>
                        <p>Kansas City, Missouri</p>
                        <ul>
                            <li>Take measurements and study floor sketches to calculate the area to be carpeted and the amount of material needed.</li>
                            <li>Cut and trim carpet to fit along wall edges, openings, and projections, finishing the edges with a wall trimmer.</li>
                            <li>Knowledge of the materials and tools involved in the installation.</li>
                            <li>Using logic and reasoning to identify the strengths and weaknesses of alternative solutions, conclusions or approaches to problems.</li>
                            <li>Analyzing information and evaluating results to choose the best solution and solve problems.</li>
                        </ul>
                        <br />
                        <p id="spec"><strong class="yella">Cook</strong>, Pizza Hut</p>
                        <p class="right">12/2016-06/2017</p>
                        <p>Independence, Missouri</p>
                        <ul>
                            <li>Read food order slips or receive verbal instructions as to food required by patron, and prepare and cook food according to instructions.</li>
                            <li>Clean, stock, and restock workstations and display cases.</li>
                            <li>Maintain sanitation, health, and safety standards in work areas.</li>
                            <li>Verify that prepared food meets requirements for quality and quantity.</li>
                            <li>Importance of being accurate.</li>
                            <li>Importance of working with a team.</li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact me if you'd like to negotiate opportunities!</p>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Location:</h4>
                            <p>Kansas City, Missouri<br />United States</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>edwardbarrieriii@outlook.com</p>
                        </div>

                    </div>

                </div>
                <div class="col-lg-8 mt-5 mt-lg-0">
                    <div id="MessageContent"></div>
                    <div id="contactConfirmation">

                    </div>
                    <div id="contactForm">
                        @Html.Partial("ContactAjax", new MVCPortfolio2._0.MVC.UI.Models.ContactViewModel())
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <a href="#header" class="scrollto footer-logo"><img src="~/Content/assets/img/logo.png" alt=""></a>
                    <h3>Edward Barrier III</h3>
                    <p>Visit my socials!</p>
                </div>
            </div>

            <div class="row footer-newsletter justify-content-center">
                <div class="col-lg-6">
                </div>
            </div>

            <div class="social-links">
                <a href="https://twitter.com/codewithed" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://linkedin.com/in/EdwardBarrierIII" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/Ebarrieriii" target="_blank"><i class="fab fa-github"></i></a>
            </div>

        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> | Converted by Edward Barrier III
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

@section scripts {
    <script>

        $("#ContactCreateForm").submit(function (e) {
            var formData = $(this).serializeArray();
            e.preventDefault();
            $("#MessageContent").html("<div class='alert alert-info'> Please wait while your message is sent...</div>");
            $.ajax({
                url: "@Url.Action("ContactAjax", "Home")",
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (data) {
                    $("#MessageContent").hide();
                    $("#contactConfirmation").load('@Url.Action("ContactConfirmation", "Home")', { name: data.Name, email: data.Email }).show();
                    $("#ContactCreateForm")[0].reset();
                    setTimeout(function () {
                        $("contactConfirmation").fadeToggle("slow");
                    }, 5000)
                },
                error: function (e) {
                    $("#MessageContent").html(
                        "<div class='alert alert-warning'>There was an error. Please try again later or contact the site admin.</div>"
                    );
                }
            });
        });
    </script>
}